:root {
    --offWhite: #F1FEFE;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(43, 48, 58);
    color: var(--offWhite);
    margin: 0;
}

.title {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #0D1117;
    border-radius: 5px;
    box-shadow: 5px 5px 4px 1px rgba(0,0,0, 0.2);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    border-radius: 5px;
    text-transform: capitalize;
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.gallery-image:hover .overlay {
    transform: scale(1);
}

.gallery-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: #0D1117;
}

@media (min-width: 1000px) {
    .gallery {
        display: flex;
        flex-flow: column wrap;
        align-content: space-between;
        width: 99%;
    }

    .gallery-image {
        width: 33%;
        position: relative;
        cursor: pointer;
        margin: 0 0 0 5px;
    }

    /* Re-order items */
    .gallery-image:nth-child(3n+1) { order: 1; }
    .gallery-image:nth-child(3n+2) { order: 2; }
    .gallery-image:nth-child(3n)   { order: 3; }

    /* Force new columns */
    .gallery::before,
    .gallery::after {
        content: "";
        flex-basis: 100%;
        width: 0;
        order: 2;
    }
}

/* 2 columns */
@media (max-width: 1000px) and (min-width: 501px) {
    .gallery {
        display: flex;
        flex-flow: column wrap;
        align-content: space-between;
        width: 99%;
    }


    .gallery-image {
        width: 50%;
        position: relative;
        cursor: pointer;
        margin: 0 0 0 5px;
    }

    /* Re-order items */
    .gallery-image:nth-child(2n+1) { order: 1; }
    .gallery-image:nth-child(2n)   { order: 2; }

    /* Force new columns */
    .gallery::before,
    .gallery::after {
        content: "";
        flex-basis: 100%;
        width: 0;
        order: 1;
    }
}

/* 1 column */
@media (max-width: 500px) {
    .gallery-image {
        position: relative;
        cursor: pointer;
        margin: 0 5px 5px 5px;
    }
}

.buttons {
    display: flex;
    justify-content: left;
    text-transform: capitalize;
}

.back-button {
    text-decoration: none;
    border-radius: 5px;
    background-color: #0D1117;
    border: none;
    color: #F1FEFE;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 5px 5px 4px 1px rgba(0,0,0, 0.2);
}
  
.back-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.back-button span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}
  
.back-button:hover span {
    padding-left: 25px;
}
  
.back-button:hover span:after {
    opacity: 1;
    left: 0;
}

/* 3 columns */
@media (min-width: 1000px) {
    /* container needs a fixed height, and it 
     * needs to be taller than your tallest column. */
    /* y = mx + b
     * [screen height] = m * [screen width] + b */
     .s2022 {
        height: calc((4.8922 * 100vw) + 112px);
        /* (1430px, 7100), (1200px, 6000), (1001px, 5000) */
    }

    .s2021 {
        height: calc((1.9807 * 100vw) + 19px);
        /* (1430px, 2850), (1200px, 2400), (1001px, 2000) */
    }

    .s2020 {
        height: calc((1.2826 * 100vw) + 64px);
        /* (1430px, 1900), (1200px, 1600), (1001px, 1350) */
    }

    .s2019 {
        height: calc((1.7536 * 100vw) + 28px);
        /* (1430px, 2550), (1200px, 2100), (1001px, 1800) */
    }

    .s2018 {
        height: calc((1.515 * 100vw) + 33px);
        /* (1430px, 2200), (1200px, 1850), (1001px, 1550) */
    }

    .s2017 {
        height: calc((1.2826 * 100vw) + 64px);
        /* (1430px, 1900), (1200px, 1600), (1001px, 1350) */
    }

    .s2016 {
        height: calc((0.4654 * 100vw) + 87px);
        /* (1430px, 750), (1200px, 650), (1001px, 550) */
    }

    .s2015 {
        height: calc((1.8672 * 100vw) + -77px);
        /* (1430px, 2600), (1200px, 2150), (1001px, 1800) */
    }

    .s2014 {
        height: 10000px;
        /* (1430px, ), (1200px, ), (1001px, ) */
    }

    .s2013 {
        height: calc((1.8614 * 100vw) + 97px);
        /* (1430px, 2750), (1200px, 2350), (1001px, 1950) */
    }

    .s2012 {
        height: calc((2.4461 * 100vw) + 6px);
        /* (1430px, 3500), (1200px, 2950), (1001px, 2450) */
    }

    .s2011 {
        height: calc((2.2134 * 100vw) + 88px);
        /* (1430px, 3250), (1200px, 2750), (1001px, 2300) */
    }

    .s2010 {
        height: calc((1.748 * 100vw) + 1px);
        /* (1430px, 2500), (1200px, 2100), (1001px, 1750) */
    }

    .s2009 {
        height: calc((1.6344 * 100vw) + 55px);
        /* (1430px, 2400), (1200px, 2000), (1001px, 1700) */
    }

    .s2008 {
        height: 1px;
    }

    .s2007 {
        height: calc((0.4654 * 100vw) + -13px);
        /* (1430px, 650), (1200px, 550), (1001px, 450) */
    }

    .s2006 {
        height: calc((1.413 * 100vw) + -610px);
        /* (1430px, 1450), (1200px, 1000), (1001px, 850) */
    }
}

/* 2 columns */
@media (max-width: 1000px) and (min-width: 501px) {
    /* container needs a fixed height, and it 
     * needs to be taller than your tallest column. */
    /* y = mx + b
     * [screen height] = m * [screen width] + b */
    .s2022 {
        height: calc((11.2224 * 100vw) + 129px);
        /* (1000px, 11400), (750px, 8550), (501px, 7550) */
    }

    .s2021 {
        height: calc((4.3085 * 100vw) + 50px);
        /* (1000px, 4350), (750px, 3300), (501px, 2200) */
    }

    .s2020 {
        height: calc((2.9059 * 100vw) + 36px);
        /* (1000px, 2950), (750px, 2200), (501px, 1500) */
    }

    .s2019 {
        height: calc((3.8076 * 100vw) + 43px);
        /* (1000px, 3850), (750px, 2900), (501px, 1950) */
    }

    .s2018 {
        height: calc((3.3067 * 100vw) + 36px);
        /* (1000px, 3350), (750px, 2500), (501px, 1700) */
    }

    .s2017 {
        height: calc((2.7055 * 100vw) + -13px);
        /* (1000px, 2700), (750px, 2000), (501px, 1350) */
    }

    .s2016 {
        height: calc((1.6032 * 100vw) + 47px);
        /* (1000px, 1650), (750px, 1250), (501px, 850) */
    }

    .s2015 {
        height: calc((3.9079 * 100vw) + 84px);
        /* (1000px, 4000), (750px, 3000), (501px, 2050) */
    }

    .s2014 {
        height: 10000px;
    }

    .s2013 {
        height: calc((4.0080 * 100vw) + 43px);
        /* (1000px, 4050), (750px, 3050), (501px, 2050) */
    }

    .s2012 {
        height: calc((5.4108 * 100vw) + 90px);
        /* (1000px, 5500), (750px, 4150), (501px, 2800) */
    }

    .s2011 {
        height: calc((5.2104 * 100vw) + 40px);
        /* (1000px, 5250), (750px, 3950), (501px, 2650) */
    }

    .s2010 {
        height: calc((4.008 * 100vw) + 93px);
        /* (1000px, 4100), (750px, 3100), (501px, 2100) */
    }

    .s2009 {
        height: calc((3.9079 * 100vw) + 34px);
        /* (1000px, 3950), (750px, 2950), (501px, 2000) */
    }

    .s2008 {
        height: calc((0.6012 * 100vw) + 99px);
        /* (1000px, 700), (750px, 550), (501px, 400) */
    }

    .s2007 {
        height: calc((0.6012 * 100vw) + 99px);
        /* (1000px, 700), (750px, 550), (501px, 400) */
    }

    .s2006 {
        height: calc((2.1043 * 100vw) + 38px);
        /* (1000px, 2150), (750px, 1600), (501px, 1100) */
    }

}
