* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --nav-text-color: #F1FEFE;
    --nav-background-color: #0D1117;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 8vh;
    background-color: var(--nav-background-color);
}

.logo {
    color: var(--nav-text-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: var(--nav-text-color);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: var(--nav-text-color);
    margin: 6px;
    transition: all 0.3s ease;
}

/* mobile */
@media screen and (max-width:1090px) {    
    html, body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 85%;
        top: 8vh;
        background-color: var(--nav-background-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}